.select-css1
{
height: 29px;
    float: right;
    border: 1px solid yellow;
    border-radius: 13px;
    
}
ion-title {
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
    color: #000;
}
.select-css2
{
    border: 1px solid red;
    width: 73px;
    border-radius: 12px;
    padding-left: 7px;
    background: red;
    color: white;
    font-weight: bold;
}

.select-css3
{
    float: left;
    width: 4px;
    height: 11px;
    background: #f0e130;
}

.select-css4
{
    font-size: 15px;
    float: left;
    margin-top: -5px;
    margin-left: 6px;
    color: black;
    font-weight: 700;
}

.select-css5
{
    color: #80808021;
    border: 1px solid;
    height: 0px;
    margin-top: -5px;
    width: 100%;
   
}

.select-css6
{
    border: 1px solid green;
    border-radius: 19px;
    padding: 4px;
    margin-top: 3px;
    background: green;
    float:left;

}
   
.select-css7
{
    font-size: 11px;
    float: left;
    margin-top: -1px;
    margin-left: 18px;
    color: black;
    font-weight: 700;

}

.select-css8
{
    border: 1px solid grey;
    border-radius: 19px;
    padding: 1px;
    margin-top: -1px;
    background: grey;
    float:left;
    margin-left: 3px;

}
.select-css9
{
    border: 1px solid grey;
    border-radius: 19px;
    padding: 4px;
    margin-top: 3px;
    background: grey;
    float:left;

}

.select-css10
{
    border: 1px solid red;
    border-radius: 19px;
    padding: 4px;
    margin-top: 3px;
    background: red;
    float:left;

}



.all-select-button  {
    --background: #fdc600;
    background: #fdc600;
    border-radius: 20px;
    margin-right: 10px;
    color: black;
    text-transform: none;
}