.select-css1
{
height: 29px;
    float: right;
    border: 1px solid yellow;
    border-radius: 13px;
    
}
ion-title {
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
    color: #000;
}
.select-css2
{
    border: 1px solid red;
    width: 73px;
    border-radius: 12px;
    padding-left: 7px;
    background: red;
    color: white;
    font-weight: bold;
}

.select-css3
{
    float: left;
    width: 4px;
    height: 11px;
    background: #f0e130;
}

span.location-point{
    display: block;
    position: relative;
    padding-left: 15px;
    margin-bottom:10px;
    font-size:11px;
    
    &:before{
        content: '';
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 6px;
    }
    &:after{
        content: '';
        position: absolute;
        left: 1px;
        top: 22px;
        width: 6px;
        background: #a1a1a1;
        height: 6px;
        border-radius: 50%;
    }
}

span.location-point.start-location:before{
    background:green;
}
span.location-point.end-location:before{
    background:red;
}
span.location-point.end-location:after{
    top:-6px;
}
span.location-point.midpoint:after {
    display:none;
}
span.location-point.midpoint:after {
    top: -18px;
    margin: 0;
}

.all-select-button  {
    --background: #fdc600;
    background: #fdc600;
    border-radius: 20px;
    margin-right: 10px;
    color: black;
    text-transform: none;
}
