<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="updateProfile(form.value)">
    <ion-row>
      <div class="input-border">
        <ion-label position="stacked">First Name</ion-label>
        <ion-input type="text" formControlName="Firstname">{{firstname}}</ion-input>
      </div>

      <div class="input-border">
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input type="text" formControlName="Lastname">{{lastname}}</ion-input>
      </div>

      <div class="input-border">
        <ion-label position="stacked">Email</ion-label>
        <ion-input disabled formControlName="email">{{email}}</ion-input>
      </div>


      <div class="input-border">
        <ion-label position="stacked">Phone Number</ion-label>
        <ion-input type="number" formControlName="telephone" placeholder="Enter Number"></ion-input>
      </div>

      <ion-button type="submit" style="width:100%" class="main-button" block full [disabled]="!form.valid">Save changes
      </ion-button>
    </ion-row>
  </form>

</ion-content>