.payment-css1 {
    color: black;
    font-weight: bold;
    font-family: 'Nunito',sans-serif;
}

.payment-css2 {
    float: right;
    font-size: 26px;
    color: red;
    margin-left: 10px;
}

.payment-css3 {
    float: right;
    font-size: 26px;
    color: grey;
}