<ion-header>
    <ion-toolbar>
        <ion-title class="page--title">My Payments</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div padding>
        <h5 style="font-size: 14px;color: grey;">
            Payment Methods
        </h5>
    </div>

    <ion-list style="padding:0">
        <ion-item *ngFor="let items of payments">
            <ion-img slot="start" src="assets/icon/payment-method-visa-512.png" style="width:50px;"></ion-img>
            {{items.CardNumber}}
            <ion-icon name="trash" slot="end" class="payment-css2" (click)="deletePayment(items)"></ion-icon>
            <ion-icon name="create" slot="end" (click)="presentModal(items)" class="payment-css3"></ion-icon>
        </ion-item>

    </ion-list>

    <div padding>
        <ion-button class="nyc-button" (click)="addPayment()">Add Payment</ion-button>
    </div>
</ion-content>