.input-css{ 
    color: #000;
}

.css-item1{
    margin-top: 0px;
}

ion-content {
    --background: #fff !important;
}
.btncolor  {
        --background: #fdc600;
        color: black;
        text-transform: capitalize;
        width: 99%;
        --border-radius: 0px;
        height: 40px;
}

ion-textarea {
    height: 30px;
}

.required {
    color: red;
}

    ion-col {
        ion-item {
            ion-icon {
                color: #fdc600;
                position: absolute;
                bottom: 5px;
            }
        }
    }

ion-buttons {
    background: #fff;
}

.logo-image {
    width: 90px;
    margin: 10px auto;
}
    

     .img-nyclogo{
        width: 115px;
        margin: auto;
        margin-top: 9px;
     }
     .card-css{
        margin-top: 56px;
        border-radius: 0px;
        box-shadow: 0 0px 1px rgba(0,0,0,.12);
     }

     .error {
        font-size: 12px;
        color: red;
        padding: 5px 15px;
    }

     .item-input{
         margin-top: 10px;
     }

     .name-css{
         color: black;
         font-weight: bold;
     }
  
     .footer1{
         text-align: center;
         background: black;
     }
