<ion-header>
  <ion-toolbar>
    <ion-title class="page--title">Passenger Details</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="close" class="close-icon" (click)="dismissModal()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-row>
        <div class="input-border">
          <ion-label position="stacked" class="name-css">First Name<span class="mendatary"> * </span></ion-label>
          <ion-input type="text" class="input-css" [(ngModel)]="firstName"></ion-input>
        </div>

        <!--
        <ion-item lines="none" *ngIf="(form.get('CardType').hasError('required') ) && form.get('CardType').touched">
          <div class="error" *ngIf="form.get('CardType').hasError('required') && form.get('CardType').touched">
            Please Enter Credit Card Type
          </div>
        </ion-item>
        -->
        <div class="input-border">
          <ion-label position="stacked" class="name-css">Last Name<span class="mendatary"> * </span></ion-label>
          <ion-input type="text" class="input-css" [(ngModel)]="lastName"></ion-input>
        </div>

        <div class="input-border">
          <ion-label position="stacked" class="name-css">Email<span class="mendatary"> * </span></ion-label>
          <ion-input type="text" class="input-css" [(ngModel)]="emailId"></ion-input>
        </div>

        <div class="input-border">
          <ion-label position="stacked" class="name-css">Address<span class="mendatary"> * </span></ion-label>
          <ion-input type="text" class="input-css"  [(ngModel)]="address"></ion-input>
        </div>

        <div class="input-border">
          <ion-label position="stacked" class="name-css">Comment</ion-label>
          <ion-input type="text" class="input-css"  [(ngModel)]="comment"></ion-input>
        </div>

        <div class="input-border">
          <ion-label position="stacked" class="name-css">Telephone No.</ion-label>
          <ion-input type="text" class="input-css" [(ngModel)]="telephoneNo"></ion-input>
        </div>

        <div class="input-border">
          <ion-label position="stacked" class="name-css">Cell No.</ion-label>
          <ion-input type="text" class="input-css" [(ngModel)]="cellNo"></ion-input>
        </div>

        <ion-button type="submit" class="main-button" (click)="addPassenger()">Save</ion-button>

      </ion-row>
  </form>
</ion-content>

