<ion-header>
  <ion-toolbar>
    <ion-title class="page--title">Project Details</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="close" class="close-icon" (click)="dismissModal()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<form>
  <ion-row>
    
      <div class="input-border">
        <ion-label position="stacked" class="name-css">Project Name<span class="mendatary"> * </span></ion-label>
        <ion-input type="text" class="input-css" [(ngModel)]="projectName"></ion-input>
      </div>

      <div class="input-border">
        <ion-label position="stacked" class="name-css">Project Description<span class="mendatary"> * </span></ion-label>
        <ion-input type="text" class="input-css" [(ngModel)]="projectDescription"></ion-input>
      </div>

      <ion-button type="submit" class="main-button" (click)="addProject()">Save</ion-button>

    </ion-row>
</form>

</ion-content>
