<ion-header>
  <ion-toolbar>
    <ion-title>Add Project</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="close" class="close-icon" (click)="dismissModal()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-row>
    <ion-label>Project Name</ion-label>
  </ion-row>
  <ion-row>
    <ion-input placeholder="Enter Project Name" [(ngModel)]="projectName"></ion-input>
  </ion-row>
  </ion-item>
  <ion-item>
    <ion-label>Project Description</ion-label>
    <ion-input placeholder="Enter Project Description" [(ngModel)]="projectDescription"></ion-input>
  </ion-item>
  <!-- <ion-item>
    <ion-label>Card Number</ion-label>
    <ion-input placeholder="Enter Card Number" [(ngModel)]="cardNumber"></ion-input>
  </ion-item> -->
  <ion-item>
    <ion-button (click)="addProject()">Add</ion-button>
  </ion-item>
</ion-content>
