.payment-css1{
    margin-left: -19px;
    color: black;
    font-weight: bold;
    float: left;
    margin-top: 10px;
}

.payment-css2 {
    float: right;
    font-size: 26px;
    color: red;
    margin-left: 10px;
}

.payment-css3 {
    float: right;
    font-size: 26px;
    color: grey;
}